
<div class="container text-center cont">
  <div class="thumbnail  display1">
  {{#link-to 'data' category.id}}<p class="text-center">{{category.category}}</p>{{/link-to}}
  <button  {{action 'delete' category}}>Delete category</button>
  </div>
</div>
