<h2 class="text-center">Lorem ipsum dolor sit amet, ipsum turpis non quam ridiculus sagittis.</h2>

{{!-- display-category is using the category model --}}
<div class="container">
  {{display-distribution  destroyDistribution="destroyDistribution" updateDistribution="updateDistribution" category=model}}
</div>

{{add-distribution saveDistribution="saveDistribution" category=model}}
