<div class="row ">
  {{add-category saveCategory2="saveCategory3"}}
</div>


<div class="row">
  <div class="container">
      {{#each model.categories as |category|}}
        {{display-category category=category destroyCategory='destroyCategory'}}
      {{/each}}
  </div>
</div>
